@import "../global";


.calendar__section {
        .container {
            display: flex;
            gap: 3rem;
            align-items:center;
            .calendar__info {
               @include chatsInfo;
            }
            .calendar__img {
                width: 50%;
            }
        }
}

@media screen and (max-width: 840px) {
    .calendar__section {
        padding: 4rem 2% 4rem 0;
        .container {
            align-items: start;
            .calendar__info {
                @include chatsInfoTablet;
            }
            .calendar__img {
                width: 100%;
                height: 500px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .calendar__section {
        padding: 4rem 5% 4rem 5%;
        .container {
            flex-direction: column ;
            .calendar__info {
                @include chatsInfo;
                width: 100%;
                height: 288px;
            }
            .calendar__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
    }
}